---
layout: layouts/base.njk
title: Example Page
description: This is an example page.
---

<section
  x-data="{ message: 'Start creating something!' }"
  class="h-screen flex"
>
  <h1 x-text="message" class="m-auto text-5xl text-center font-bold"></h1>
</section>
